@font-face {
  font-family:  "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family:  "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  color: #333333;
}

.page-body__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
}

.page-main {
  flex-grow: 1;
}

.page-header {
  color: #000000;
}

.main-nav__link {
  display: block;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 20px 16px;
}

.main-nav__item {
  list-style-type: none;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

button.button {
  font-family: "PT Sans", sans-serif;
  border: none;
}

.button-brown {
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

.button-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

.hero {
  background-color: #ADD8E6;
  background-image: url("../images/hero_mountains.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
}

.description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.background-blue {
   background-color: #82B3D3;
   color: #FFFFFF;
}

.background-extralightblue {
  background-color: rgba(131, 179, 211, 0.12);
}

.background-lightblue {
  background-color: rgba(131, 179, 211, 0.2);
}

.fact__title {
  font-size: 24px;
  line-height: 28px;
}

.service-item__title {
  font-size: 24px;
  line-height: 28px;
}

.big-button {
    font-family: "PT Sans", sans-serif;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.advantages__list, .service__list, .social-list, .catalog-cards, .breadcrumbs, .pagination {
  list-style-type: none;
}

.inner-header {
  background-color: #965536;
  background-image: url("../images/filter.jpg");
  background-size: 100% auto;
}

.inner-header__title {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs__link {
  text-decoration: none;
  color: #ffffff;
}

.form-catalog__group {
  border: none;
}

.form-catalog__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.form-catalog__description {
  color: #ffffff;
}

.form-catalog__button {
  color: #ffffff;
}

.button-transparent {
  background-color: transparent;
}

.sorting__title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.sorting__select {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.catalog-card__link-title {
  text-decoration: none;
  color: #000000;
}

.catalog-card__title {
  font-size: 24px;
  line-height: 28px;
}

.catalog-card__rate {
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
  background-color:  #82B3D3;
  min-width: 60px;
  height: 60px;
  display: block;
  padding: 12px 16px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-link--current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-link--dots {
  background-color: transparent;
  color: #000000;
}

.page-footer__phone {
  color: #000000;
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
}

.main-nav {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  column-gap: 30px;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
}

.main-nav__user {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  max-width: 300px;
  margin-left: auto;
}

.hero__logotype {
  display: block;
  margin: 0 auto;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.fact {
  display: flex;
  width: 1200px;
}

.advantages__item {
  width: 400px;
  min-height: 385px;
}

.service__list {
  padding: 0;
  margin: 0;
  display: flex;
}

.service__item {
  min-height: 385px;
}

.page-footer__wrapper {
  width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.subscribe__form {
  text-align: center;
}

.search {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-nav__logo {
  margin-bottom: -6px;
}

.main-nav__user .main-nav__link {
  min-width: 20px;
  min-height: 20px;
}

.main-nav__button {
  display: block;
  margin: 14px 0 20px;
  padding: 8px 50px;
}

.advantages__title {
  margin-top: 69px;
  margin-bottom: 25px;
}

.advantages__description {
  margin-top: 0;
  margin-bottom: 90px;
}

.service__title {
  margin-top: 64px;
  margin-bottom: 20px;
}

.service__description {
  margin-bottom: 64px;
}

.search__title {
  margin-top: 96px;
  margin-bottom: 20px;
}

.search__description {
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-main {
  background-color: #2f4f4f;
  color: #ffffff;
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
}

.subscribe {
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-main .subscribe__title {
  color: #ffffff;
}

.search__button {
  margin-bottom: 96px;
}

.social-link {
  display: block;
  min-width: 24px;
  min-height: 20px;
}

.inner-header__title {
  margin: 0;
}

.inner-header {
  padding: 35px 70px 70px;
}

.pagination {
  padding: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.pagination-link--dots {
  font-weight: 400;
  font-size: 22px;
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 30px;
}

.social-list {
  margin: 0;
  padding: 0;
}

.main-catalog {
  width: 1060px;
  margin: 0 auto;
}

.catalog-cards {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
}

.catalog-card {
  box-shadow: 0 0 0 1px #E6E6E6;
  border-radius: 4px;
  display: grid;
  padding: 20px;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
}

.catalog-card__link-image {
  grid-column: 1 / -1;
}

.catalog-card__link-title {
  grid-column: 1 / -1;
}

.catalog-card__title {
  margin: 0;
}

.catalog-card__type_hotel {
  margin: 0;
}

.catalog-card__price {
  margin: 0;
  justify-self: end;
}

.stars {
  margin: 0;
}

.catalog-card__rate {
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  padding: 8px 20px;
}

.catalog-card .button {
  text-align: center;
  padding: 8px 20px;
}
